@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  background: #b7f7f2;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf);
}

.contenedor-card {
  width: 372px;
  height: auto;
  background: #33f7c6;
  padding: 8px;
  margin: 0 auto;
  margin-top: 10px;
  /*display:inline-block; Alínea las imagenes*/
}

.contenedor-card h2 {
  font-family: "Roboto-Medium";
  color: #14279B;
  font-size: 20pt;
  text-align: center;
  background-color: white;
}

.contenedor-card p {
  font-family: "Robot-regular";
  color: #14279B;
  font-size: 18pt;
  font-weight: normal;
}

.cont-img {
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-position: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cont-img:hover {
  background-size: 150%;
}

#img-fruta-1 {
  background-image: url(../Img/Manzanas1.jpg);
}

#img-fruta-2 {
  background-image: url(../Img/Naranjas2.jpg);
}

#img-fruta-3 {
  background-image: url(../Img/Cerezas3.jpg);
}

.btn-card {
  background-color: wheat;
  width: 160px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  color: #00ADB5;
  font-size: 10px;
  font-size: 10pt;
  text-decoration: underline;
  border: 3px solid black;
  font-family: "Roboto-Linght";
  font-size: 14pt;
}

.btn-card:hover {
  cursor: pointer;
  background-color: #fc0707;
  color: black;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.215);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.215);
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}
/*# sourceMappingURL=estilos.css.map */